* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2d2c41;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
	display: flex;
	align-items: center;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
	flex: 4;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

/*FORM */

::selection{
	color: #ffffff;
	background-color: #31285C;
   }
   
   *{
	padding:0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
   }
   
   a{
	color: #31285C;
   }
   
   
   

   
   .wrapper{

	min-height:100px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
	padding: 30px;
   }
   
   .input-field{
	width: 100%;
	height: 45px;
	border: none;
	padding: 10px;
	background-color: #eeeeee;
	color: gray;
	outline: none;
	font-size: 15px;
	margin-bottom: 20px;
	transition: .5s;
	border-radius: 5px;
   }
   
   input:hover{
	cursor: pointer;
   }
   
   
   .heading{
	color: #3B3663;
	margin-bottom: 20px;
   }
   
   .heading p{ 
	color: #AAA8BB;
   }
   
   .heading i{
	font-size: 30px;
	color: #4D61FC;
   } 
   
   label{
	color: #AAA8BB;
	font-weight: 400;
   }
   
   .BTNajouterEditer{
	width: 100%;
	height: 45px;
	border: none;
	color: #FFFFFF;
	background-color: #31285C;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 500;
	transition: 0.3s;
	margin-top: 20px;
   }
   
   button:hover{
	background-color: #31283B;
   }
   
   .row{
	min-width: 5px;
	min-height: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
	font-size: 15px;
   }

   .jour{
	display: flex;
	justify-content: left;
	padding: 10px;
   }
   
   .custom-checkbox{
	width: 17px;
	height: 17px;
	border-radius: 5px;
	background-color: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: center; 
	font-size: 10px;
	margin-right: 5px;
   }
   
   input[type=checkbox]:checked ~ .custom-checkbox{
	background-color: #31285C;
   }
   
   input[type=checkbox]:checked ~ .custom-checkbox::before {
   font-family: "Font Awesome 5 Free";
	 content: "\f00c";
	 display: inline-block;
	 font-weight: 900;
	 color: #ffffff;
   }


   /* SUPPRIMER ELEMENT */
   .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: center;
	}

	.popup p {
		margin-bottom: 20px;
	}

	.button-container {
		display: flex;
		justify-content: center; /* Centrage horizontal */
		align-items: center; /* Centrage vertical */
		gap: 20px;
	}

	.popup button {
		width: 80px;;
		height: 45px;
		border: none;
		color: white;
		border-radius: 5px;
		font-size: 17px;
		font-weight: 500;
		transition: 0.3s;
		margin-top: 20px;
	}

	.popup-button-oui {
		background-color: #31285C;
	}

	.popup-button-non {
		background-color: #52429d; /* Couleur de fond pour le bouton "Non" */
	}



   .iconePoubelle{
		flex: 1;
   }
   
   